body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding; 0
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    font-size: 2rem;
    height: 20px;
    margin-left: 2%;
}

nav a {
    display: block;
    color: #2abd2a;
    background-color: slateblue;
}

nav a:hover {
    color: #2f48af;
    background-color: aliceblue;
}
.card {
    margin-left: 2%;
    width: 30%
}
.card a {
    text-align: center;
    display: inline-block;
}
img {
    width: 30%;
    height: 300px;
    display: block;
}
h2 {
    text-align: center;
}